<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wwmi.naier"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:name=".application.NaierApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- WelcomeActivity -->
        <activity
            android:name=".activity.NaierWelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- NaierBaseActivity -->
        <activity
            android:name=".activity.NaierBaseActivity"
            android:label="@string/app_name" >
        </activity>
        <!-- NariHomePageActivity -->
        <activity
            android:name=".activity.NaierHomePageActivity"
            android:label="@string/app_name" >
        </activity>
        <!-- NaierTabActivity -->
        <activity
            android:name=".activity.NaierTabActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>